# Oh My Font Template Configurations
# by nongthaihoang @ GitLab
# https://gitlab.com/nongthaihoang/omftemplate

# Custom Font Installer
# by nongthaihoang @ GitHub
# https://github.com/nongthaihoang/custom_font_installer


# STATIC FONTS
# Use bold font?
#BOLD=true

# VARIABLE FONTS
# Font Styles             Weights
#                   ,-----------------.
#                   | T  | Thin       |
#      Fonts        | EL | ExtraLight |
# ,---------------. | L  | Light      |
# | U | Upright   | | R  | Regular    |
# | I | Italic    | | M  | Medium     |
# | C | Condensed | | SB | SemiBold   |
# | D | CI        | | B  | Bold       |
# | M | Monospace | | EB | ExtraBold  |
# | S | Serif     | | BL | Black      |
# `---------------' `-----------------'
#    |                 |
#    |       ,---------'
#    |       |
#  ------ -------
#  <font><weight>
#  -------------- 
#        |
#     ,--'
#     |
#  -------
#  <style> = [<axis> <value> ...]

# [U]pright
UT  =
UEL =
UL  =
UR  =
UM  =
USB =
UB  =
UEB =
UBL =

# [I]talic
IT  =
IEL =
IL  =
IR  =
IM  =
ISB =
IB  =
IEB =
IBL =

# [C]ondensed
CT  =
CEL =
CL  =
CR  =
CM  =
CSB =
CB  =
CEB =
CBL =

# [D] Condensed Italic
DT  =
DEL =
DL  =
DR  =
DM  =
DSB =
DB  =
DEB =
DBL =

# [M]onospace
MT  =
MEL =
ML  =
MR  =
MM  =
MSB =
MB  =
MEB =
MBL =

# [S]erif
ST  =
SEL =
SL  =
SR  =
SM  =
SSB =
SB  =
SEB =
SBL =


### 2021100501 ###

# Sans Serif
#SS=
# Sans Serif Italic
#SSI=
# Monospace
#MS=
