# Oh My Font Template Configurations
# by nongthaihoang @ GitLab
# https://gitlab.com/nongthaihoang/omftemplate

# Custom Font Installer
# by nongthaihoang @ GitHub
# https://github.com/nongthaihoang/custom_font_installer


# LINE SPACING @ 0.5x - 2.0x
LINE = 1.0

# OPENTYPE LAYOUT FEATURE
# comma-separated list of OpenType feature tags
# e.g. OTL = tnum,ss06,cv01
OTL = 

# LOCK SCREEN CLOCK
# replace Google Sans Clock font (Pixel A12)
#LSC = true

# STATIC FONTS
# Bold text
#BOLD = true

# Google Fonts
# https://fonts.google.com/
GF            = 
GF_serif      = 
GF_mono       = 
GF_serif_mono = 

# VARIABLE FONTS
# Font Styles          
#                         Weights
#                    +-----------------+
#      Fonts         | T  | Thin       |
# +---------------+  | EL | ExtraLight |
# | U | Upright   |  | L  | Light      |
# | I | Italic    |  | R  | Regular    |
# | C | Condensed |  | M  | Medium     |
# | D | CI        |  | SB | SemiBold   |
# | M | Monospace |  | B  | Bold       |
# | S | Serif     |  | EB | ExtraBold  |
# | O | SM        |  | BL | Black      |
# +---------------+  +-----------------+
#    |                  |
#    |       +----------+
#    |       |
#  ------ -------
#  <font><weight>
#  -------------- 
#        |
#     +--+
#     |
#  -------
#  <style> = [<axis> <value> ...]

# [U]pright
UT  = wght 100
UEL = wght 200
UL  = wght 300
UR  = wght 400
UM  = wght 500
USB = wght 600
UB  = wght 700
UEB = wght 800
UBL = wght 900

# [I]talic
IT  =
IEL =
IL  =
IR  =
IM  =
ISB =
IB  =
IEB =
IBL =

# [C]ondensed
CT  =
CEL =
CL  =
CR  =
CM  =
CSB =
CB  =
CEB =
CBL =

# [D] Condensed Italic
DT  =
DEL =
DL  =
DR  =
DM  =
DSB =
DB  =
DEB =
DBL =

# [M]onospace
MT  =
MEL =
ML  =
MR  =
MM  =
MSB =
MB  =
MEB =
MBL =

# [S]erif
ST  =
SEL =
SL  =
SR  =
SM  =
SSB =
SB  =
SEB =
SBL =

# [O] Serif Monospace
OT  =
OEL =
OL  =
OR  =
OM  =
OSB =
OB  =
OEB =
OBL =


### 2022071601 ###

SS   = ss.ttf
SSI  = ssi.ttf
MS   = ms.ttf
MSI  = msi.ttf
SER  = ser.ttf
SERI = seri.ttf
SRM  = srm.ttf
SRMI = srmi.ttf
